<div id="tooltip-map">
  <h2 class="h6"><%= flat %></h2>
  <p><%= flat.address %></p>
  <p class="mb-0">
    <% if flat.user.photo.attached? %>
      <%= cl_image_tag flat.user.photo.key, class: "avatar mr-2 rounded-circle" %>
    <% else %>
      <%= image_tag  "noavatar.png", class: "avatar mr-2 rounded-circle" %>
    <% end %>
    Proposed by <span class="text-primary"><%= flat.user.email %></span>
  </p>
</div>
