<!-- Success Modal -->
<div class="modal fade" id="SuccessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Message Envoyé!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Merci d'avoir pris contact avec nous. Nous reviendrons vers vous dans les plus brefs délais
      </div>

      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- Not Connected Modal -->
<div class="modal fade" id="NotConnectedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Connexion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vous devez être connecté pour pouvoir liker un appartement
      </div>

      <div class="modal-footer">
        <%= link_to "Se connecter", new_user_session_path, class: "btn btn-secondary" %>
        <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


<section id="flat" class="p-5 my-5">
  <div class="container-fluid">
    <h1 class="pb-3 h2"><%= @flat.house_type %> / <%= @flat.operation_type %> / <%= @flat.address %>
    <% if @flat.user == current_user  %>
      <%= link_to edit_flat_path(@flat.id) , class: "btn btn-primary" do %>
      <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    </h1>
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="mb-5">
          <%= render 'shared/light-gallery', flat: @flat %>

        </div>

        <!-- presentation -->
        <div id="presentation" class="bg-white-smoke rounded-lg p-4 mb-5">
          <h3 class="mb-2 h5"><%= @flat.surface %>m<sup>2</sup> - <%= @flat.pieces %> pièces - <%= @flat.rooms %> chambres </h3>
          <p><%= @flat.description %></p>
        </div>

        <!--  Equipment -->
        <div id="equipment" class="bg-white-smoke rounded-lg p-4 mb-5">
          <h3 class="mb-4 h5">Equipements</h3>
          <div class="d-flex flex-wrap">
            <% FlatEquipment.where(flat_id: @flat.id).each do |flat_equipment| %>
              <div class="equipment col-4 pl-0 mb-3 <%= flat_equipment.equipment.name %>">
                <%= flat_equipment.equipment.name %>
              </div>
            <% end %>
          </div>
        </div>

        <!--  Map -->
        <div id="map" class="rounded-lg"
          style="width: 100%; height: 350px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
     </div>


      <!--  User presentation -->
      <div class="pl-5 col-12 col-md-5 mt-16" data-controller="like">
        <h3 id="flat-price"> $ <%= @flat.price %></h3>
        <div class=" bg-white-smoke rounded-lg p-4 mb-5 mr-3 ">
            <h2>Intéressé par ce bien ?</h2>

                <div class="form-login">
                  <%= simple_form_for(@contact) do |f| %>
                    <!-- [...] -->
                    <%= f.input :name %>
                    <% if current_user %>
                      <%= f.input :email, input_html: { value: current_user.email }  %>
                      <%= f.input :number, input_html: { value: current_user.phone }  %>
                    <% else %>
                      <%= f.input :email  %>
                      <%= f.input :number  %>
                    <% end %>


                    <%= f.input :message  %>

                    <!-- [...] -->

                  <% end %>
                  <button data-flat-id = "<%= @flat.id %>" id = "contact" class="btn-style-01 text-uppercase py-2 px-5 rounded-lg col-centered"> Nous contacter <i class="fas fa-envelope ml-1"></i></button>
                </div>

        </div>
      </div>
      </div>
      <!--  /User presentation -->
    </div>
  </div>
</section>
