<section class="mt-5">
<!-- navigation dashboard   -->
  <div id="dashboard-nav" class="bg-white-smoke border-right col-2">
    <hr class="my-5">
    <ul class="dashboard-menu ">
      <li class="dashboard-menu-item active">
        <a href="<%= user_path(current_user) %>" class="h6">
          <i class="fas fa-user h5 mr-3"></i> My profile
        </a>
      </li>
      <li class="dashboard-menu-item">
        <a href="<%= myflats_path %>" class="h6">
          <i class="fas fa-building h5 mr-3"></i> My flats
      </li>
      <li class="dashboard-menu-item">
        <a href="<%= myflats_path %>" class="h6">
          <i class="fas fa-heart h5 mr-3"></i> My Likes
        </a>
      </li>
    </ul>

  </div>
  </div>
<!-- / navigation dashboard   -->

<div class="messages-container flex-grow-1 pt-4">
        <div class="row">
            <div class="col-12 p-5">
              <h1 class="mb-4 h3">My profile</h1>
              <div class="d-flex align-items-center justify-content-start rounded-lg p-4 bg-white-smoke">
                    <% if @user.photo.attached? %> <%= cl_image_tag @user.photo.key, class: "d-block avatar-x-large rounded-circle img-fluid mr-3" %>
                    <% else %>
                     <%= image_tag "noavatar.png", height: 100, width: 100 , crop: :fill, class:"d-block rounded-circle img-fluid mb-3" %>
                    <% end %>
                    <div class="p-3 ">
                        <p class="h4 text-primary mb-0"><%= @user.first_name %>
                          <% if current_user == @user %>
                            <%= link_to edit_user_path(current_user) , class: "btn btn-primary" do %>
                                <i class="far fa-edit"></i>
                            <% end %>
                          <% end %>
                        </p>
                        <p class="h5 mb-0"><%= @user.email %></p>
                    </div>
              </div>
            <div id="pres" class="d-block mt-4 p-4 bg-white-smoke  rounded-lg">
              <p><%= @user.email %></p>
            </div>
            </div>
        </div>

</div>



</section>


