
<%= link_to flat_path(flat), class: "card" do %>
  <div class="card-trip">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <% if flat.photos.attached? %>
          <div class="carousel-item active">
            <%= cl_image_tag flat.photos[0].key, height: 180,  class: "d-block w-100" %>
          </div>
          <% if  flat.photos.length >= 2 %>

            <% flat.photos[1..(flat.photos.length-1)].each do |photo| %>
              <div class="carousel-item ">
                <%= cl_image_tag photo.key, height: 180,  class: "d-block w-100" %>
              </div>
            <% end %>

          <% end %>
        <% else %>
          <%= image_tag "noimage.png", height: 180, class: "d-block w-100" %>
        <% end %>

      </div>



    </div>
    <div class="card-trip-infos">
      <div>
        <h2> <%= flat.house_type %></h2>
        <p> <%= flat.pieces %> pièces | <%= flat.rooms  %> chambre | <%= flat.surface %> m2</p>
        <p> Kinshasa</p>
      </div>
      <h2 class="card-trip-pricing"> <%= flat.price %> FCFA</h2>
      <div class="card-trip-user"> <%= flat.operation_type %></div>

    </div>


  </div>
<% end %>
