<div id="lightgallery"  class="row lightgallery-flat">

  <% if @flat.photos.attached? %>
    <div class="mt-0 mx-0 mb-2 main-img"  data-src="<%= cl_image_path @flat.photos.first.key, width: 800, crop: :fill %>" >
      <a href="">
        <%= cl_image_tag @flat.photos.first.key, height: 500, width: 1200, crop: :fill, class: "img-fluid" %>
      </a>
    </div>
  <% end %>

  <% if  @flat.photos.length >= 2 %>
    <% @flat.photos[1..5].each do |photo| %>
    <div class="gal-thumb"  data-src="<%= cl_image_path photo.key, width: 800, crop: :fill %>">
      <a href="">
        <%= cl_image_tag photo.key, height: 180, width: 300, crop: :fill, class: "img-fluid" %>
      </a>
    </div>
    <% end %>
  <% end %>
</div>


<% if !@flat.photos.attached? %>
  <%= image_tag "noimage.png", height: 500, width: 1200, crop: :fill, class: "img-fluid rounded-lg" %>
<% end %>
