
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.png' %>);">
  <div class="container">
    <div>
      <h1 class="text-center text-white">GABOTO Immobilier</h1>
      <h6 class="text-center text-white">Votre agence immobilière en ligne</h6>

    </div>
    <div class="bg-white shadow-lg py-3 px-4 rounded-lg">
      <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
        <form class="">
          <div class="row d-flex align-items-center">

              <div class="col-xs-12 col-sm-3">

              <input placeholder= "Adresse " class=" form-control form-control-lg border-0 py-3 m-0" type="text" name="search[query]" id="flat_address" >
              </div>

              <div class="col-xs-12 col-sm-3">
                <%= f.input :operation_type , as: :select , collection: Flat::TYPE, label: false , placeholder: "Catégorie", input_html: {class: 'select2 form-control form-control-lg border-0 py-3 m-0'}%>

              </div>
              <div class="col-xs-12 col-sm-3">

              <%= f.input :house_type , as: :select , collection: Flat::HOUSE_TYPE , label: false, placeholder: "Type", input_html: {class: ' select2 form-control form-control-lg border-0 py-3 m-0'}%>

              </div>
              <div class="col-xs-12 col-sm-3">

              <button type="submit" class="btn-style-01 rounded font-weight-bold h6 text-uppercase py-4 px-0 mb-0 w-100">Search</button>

              </div>

          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>

<section id="#howItWorks">
  <h2 class="text-primary h1 font-weight-bold ml-5 my-5">Vous souhaitez <span class="text-secondary">louer ou acheter </span> un appartement ?</h2>
<div class="container-fluid bg-white-smoke p-5">

    <div class="row">
      <div class="col-md-3 p-4 ">
          <div >
            <%= image_tag "search.svg", class: "rounded bg-white p-4 box-shadow-custom mb-5 " %>
            <h5 class="text-primary line-height-lg">Je  <span class="text-secondary">cherche</span> l'appartement en ligne sur le site</h5>
            <p class="lead">Notre moteur de recherche vous permet de trouver l'appartement qui convient à vos critères</p>
          </div>
      </div>
      <div class="col-md-3  p-4 ">
           <div >
            <%= image_tag "search.svg", class: "rounded bg-white p-4 box-shadow-custom mb-5 " %>
            <h5 class="text-primary line-height-lg">Je <span class="text-secondary">contacte</span> l'agence si un bien m'intéresse</h5>
            <p class="lead">Contactez-nous via le formulaire disponible sur la page de présentation du bien</p>
          </div>
      </div>
      <div class="col-md-3  p-4">
          <div >
            <%= image_tag "heart.svg", class: "rounded bg-white p-4 box-shadow-custom mb-5 " %>
            <h5 class="text-primary line-height-lg">Je <span class="text-secondary">visite</span>  les appartements qui m'intéressent </h5>
            <p class="lead">Nous planifions et organisons les visites</p>
          </div>
      </div>
       <div class="col-md-3  p-4">
          <div >
            <%= image_tag "key.svg", class: "rounded bg-white p-4 box-shadow-custom mb-5 " %>
            <h5 class="text-primary line-height-lg"> Nous <span class="text-secondary">contractualisons</span> si le bien vous intéresse toujours</h5>
            <p class="lead"> Nous nous occupons de la rédaction des contrats de location et des loyers </p>
          </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5 p-4 col-centered">

        <%= link_to "TROUVER UN BIEN", flats_path, class: "btn-style-01 rounded font-weight-bold h6 text-uppercase py-2 px-2  mr-4 mb-0" %>
      </div>
    </div>

</section>

<section id="#howItWorks">
  <h2 class="text-primary h1 font-weight-bold ml-5 my-5">Vous avez un bien <span class="text-secondary">à vendre ou à louer</span> ?</h2>
<div class="container-fluid bg-white-smoke p-5">

    <div class="row">
      <div class="col-md-6 p-4 ">
          <div >
            <%= image_tag "building.svg", class: "rounded bg-white p-4 box-shadow-custom mb-5 " %>
            <h5 class="text-primary line-height-lg">J'ajoute une annonce en ligne <span class="text-secondary">pour la mise en vente ou en location</span> de mon bien</h5>
            <p class="lead">Je renseigne de façon détaillée tout les caractéristiques de mon bien</p>
          </div>
      </div>

       <div class="col-md-6  p-4">
          <div >
            <%= image_tag "key.svg", class: "rounded bg-white p-4 box-shadow-custom mb-5 " %>
            <h5 class="text-primary line-height-lg"> Nous récupérons <span class="text-secondary">les clés</span> et on s'occupe de tout</h5>
            <p class="lead"> Nous nous occupons de l'organisation des visites et de la gestion locative </p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5 p-4 col-centered">

        <%= link_to "AJOUTER UNE ANNONCE", new_flat_path, class: "btn-style-01 rounded font-weight-bold h6 text-uppercase py-2 px-2  mr-4 mb-0" %>
      </div>
    </div>
</section>

<% if @flats.count > 0  %>
  <section id="#howItWorks">
    <h2 class="text-primary h1 font-weight-bold ml-5 my-5">Dernières <span class="text-secondary">annonces</span> publiées</h2>
  <div class="container-fluid bg-white-smoke p-5">



      <div class="row">
        <% @flats.each do |flat| %>
           <div class="col-md-3 p-4 ">
              <%= render 'shared/card', flat: flat %>
          </div>
        <% end %>
      </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5 p-4 col-centered">

        <%= link_to "PLUS DE BIENS", flats_path, class: "btn-style-01 rounded font-weight-bold h6 text-uppercase py-2 px-2  mr-4 mb-0" %>
      </div>
    </div>
  </section>

<% end %>




