<section class="mt-5">
<!-- navigation dashboard   -->
  <div id="dashboard-nav" class="bg-white-smoke border-right col-2">
    <hr class="my-5">
    <ul class="dashboard-menu ">
      <li class="dashboard-menu-item ">
        <a href="<%= user_path(current_user) %>" class="h6">
          <i class="fas fa-user h5 mr-3"></i> Mon profil
        </a>
      </li>
      <li class="dashboard-menu-item active">
        <a href="<%= myflats_path %>" class="h6">
          <i class="fas fa-building h5 mr-3"></i> Mes biens
        </a>
      </li>
    </ul>

  </div>
<!-- / navigation dashboard   -->

<div class="messages-container flex-grow-1 pt-4">
    <div class="row">
      <div class="col-12 p-5 ">
        <h1 class="mb-4 h3">My Flats</h1>
        <% @flats.each do |flat| %>
          <div class="bg-white-smoke py-3 px-1 mb-4 rounded-lg row">

                  <div class="col-3">
                    <% if flat.photos.attached? %>
                      <%= cl_image_tag flat.photos.first.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded" %>
                    <% else %>
                      <%= image_tag "noimage.png", height: 200, width: 300, crop: :fill, class: "img-fluid rounded" %>
                    <% end %>
                  </div>

                  <div class="col-9 d-flex align-items-stretch ">
                    <div class="d-flex flex-column align-content-between flex-grow-1 p-3">
                      <h4 class="mb-auto">
                       <%=  flat.house_type %>
                      </h4>
                      <div style="min-height: 10px">
                        <a href="<%= flat_path(flat) %>" class="text-white btn btn-primary mr-4 mt-2 mb-2"><i class="far fa-eye"></i> view flat</a>
                        <a href="<%= edit_flat_path(flat) %>" class="text-primary  btn btn-outline-primary mt-2 mb-2"><i class="fas fa-edit"></i> edit flat</a>


                      </div>
                    </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>

</div>



</section>


